<div
	class="container"
	fxFlex="100"
	fxLayout="column"
	fxFlex.lt-md="100"
	*ngIf="!isLoading"
	fxLayoutAlign.lt-md="space-between center">

	<div
		fxFlexFill
		fxLayout="row"
		class="header-container"
		fxLayoutAlign="space-between center">
		<h2>Movies</h2>
	</div>

	<div fxLayout="row wrap" fxLayoutGap="10px grid" fxLayoutAlign="space-around center" fxFlexFill>
		<div *ngFor="let movie of pageInfo.results">
			<div class="one" fxflexfill="" fxlayoutalign="center center">
				<mat-card class="movie-card" style="width: 240px">
					<mat-card-header fxLayoutAlign="space-around center">
						<mat-card-title fxLayoutAlign="space-around center">
							{{ movie.original_title }}
						</mat-card-title>
					</mat-card-header>

					<img
						mat-card-image
						src="{{ movie.cover }}"
						alt="{{ movie.original_title }}">
					<mat-card-content>
						<p>
							{{ movie.overview | excerpt:65 }}
						</p>
					</mat-card-content>

					<mat-card-actions fxLayoutAlign="space-around center">
						<button mat-button (click)="navigate(['movies', movie.id])">
							View Details
						</button>
					</mat-card-actions>
				</mat-card>
			</div>
		</div>
	</div>
</div>

<div class="p10" *ngIf="isLoading" fxFlex fxLayout="column" fxLayoutAlign="center start">
	{{ feedbackMessage || "Loading, please, wait." }}
</div>
