<div class="container" fxFlex="100" fxLayout="column" fxFlex.lt-md="100" *ngIf="!isLoading"
	fxLayoutAlign.lt-md="space-between center">

	<div fxFlexFill fxLayout="row" class="header-container" fxLayoutAlign="space-between center">
		<h2>Movies</h2>
	</div>

	<!-- <div fxFlexFill>
		<div *ngFor="let movie of movies">
			<pre><code>{{ movie | json }}</code></pre>
		</div>
	</div> -->
</div>
<mat-card class="example-card" style="with: 340px">
	<mat-card-header>
		<div mat-card-avatar class="example-header-image"></div>
		<mat-card-title>Shiba Inu</mat-card-title>
		<mat-card-subtitle>Dog Breed</mat-card-subtitle>
	</mat-card-header>
	<img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
	<mat-card-content>
		<p>
			The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
			A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
			bred for hunting.
		</p>
	</mat-card-content>
	<mat-card-actions>
		<button mat-button>View Details</button>
	</mat-card-actions>
</mat-card>

<div class="p10" *ngIf="isLoading" fxFlex fxLayout="column" fxLayoutAlign="center start">
	{{ feedbackMessage || "Loading, please, wait." }}
</div>
