::ng-deep h1,
::ng-deep h2,
::ng-deep h3,
::ng-deep h4,
::ng-deep h5,
::ng-deep h6,
::ng-deep p,
::ng-deep a,
::ng-deep div,
::ng-deep span,
::ng-deep input,
::ng-deep label,
::ng-deep button,
::ng-deep textarea,
::ng-deep table *,
::ng-deep .mat-fab,
::ng-deep .mat-button,
::ng-deep .mat-mini-fab,
::ng-deep .mat-icon-button,
::ng-deep .mat-raised-button,
::ng-deep .mat-toolbar,
::ng-deep .mat-slide-toggle-content,
::ng-deep .mat-simple-snackbar,
*:not(mat-icon) {
	font-family: 'Open Sans', sans-serif;
}

#main-app {
	height: 100vh;
}

#main-toolbar {
	min-height: 70px;
}

#app-container {
	margin-top: 30px !important;
}

::ng-deep .mat-toolbar span {
	cursor: pointer;
	outline: none;
}

::ng-deep .mgl-5 {
	margin-left: 5px;
}

::ng-deep .p20 {
	padding: 20px;
}

::ng-deep mat-header-cell {
	font-weight: bold !important;
	color: #000 !important;
}

::ng-deep .mat-simple-snackbar {
	text-align: center !important;
}

::ng-deep .overflow-scroll {
	overflow: scroll !important;
}

::ng-deep .overflow-hidden {
	overflow: hidden !important;
}

::ng-deep .mat-simple-snackbar {
	justify-content: center !important;
}

::ng-deep .mat-input-element,
::ng-deep .mat-form-field-label {
	height: 22px !important;
}

::ng-deep .loading-error {
	color: rgba(255, 0, 0, 0.79);
	padding: 10px;
	text-align: center;
	margin: 10px;
	margin-top: 100px;
}

::ng-deep .container {
	margin-top: 10px;
	padding: 0 10px !important;
	min-height: 100vh;
}

::ng-deep .header-container {
	margin-top: 10px;
	height: 40px !important;
	min-height: 40px !important;
}

::ng-deep h4 {
	margin: 0;
}

::ng-deep .header-container h2 {
	border: 0;
	padding: 0;
	font-weight: 100;
}

::ng-deep .hide-all {
	display: none !important;
}
