::ng-deep h1,
::ng-deep h2,
::ng-deep h3,
::ng-deep h4,
::ng-deep h5,
::ng-deep h6,
::ng-deep p,
::ng-deep a,
::ng-deep div,
::ng-deep span,
::ng-deep input,
::ng-deep label,
::ng-deep button,
::ng-deep textarea,
::ng-deep table *,
::ng-deep .mat-fab,
::ng-deep .mat-button,
::ng-deep .mat-mini-fab,
::ng-deep .mat-icon-button,
::ng-deep .mat-raised-button,
::ng-deep .mat-toolbar,
::ng-deep .mat-slide-toggle-content,
::ng-deep .mat-simple-snackbar,
*:not(mat-icon) {
	font-family: 'Open Sans', sans-serif;
}

.menu-label {
	font-size: 16px;
	cursor: pointer;
	margin-right: 10px;
}

.logo {
	width: 130px;
	min-height: 55px;
}

#main-app {
	height: 100vh;
}

#main-toolbar {
	min-height: 70px;
}

mat-sidenav-container {
	height: 100%;
}

#app-container {
	margin-top: 30px !important;
}

::ng-deep .pr-10 {
	padding-right: 10px;
}

::ng-deep .mgb-10 {
	margin-bottom: 10px;
}

::ng-deep .mgb-30 {
	margin-bottom: 30px !important;
}

::ng-deep .min-height-30 {
	min-height: 30px !important;
}

::ng-deep .mgt-10 {
	margin-top: 10px;
}

::ng-deep .mgl-5 {
	margin-left: 5px;
}

::ng-deep .mgr-5 {
	margin-right: 5px;
}

::ng-deep .p10 {
	padding: 10px;
}

::ng-deep .mgr-5i {
	margin-right: 5px !important;
}

::ng-deep table {
	width: 100% !important;
}

::ng-deep mat-header-cell {
	font-weight: bold !important;
	color: #000 !important;
}

::ng-deep .mat-simple-snackbar {
	text-align: center !important;
}

::ng-deep .overflow-scroll {
	overflow: scroll !important;
}

::ng-deep .overflow-hidden {
	overflow: hidden !important;
}

::ng-deep .mat-simple-snackbar {
	justify-content: center !important;
}

::ng-deep .mat-input-element,
::ng-deep .mat-form-field-label {
	height: 22px !important;
}

::ng-deep .loading-error {
	border: solid 1px #e0c8c8;
	padding: 10px;
	text-align: center;
	margin: 10px;
	margin-top: 100px;
}

::ng-deep .container {
	padding: 0 10px !important;
}

::ng-deep .header-container {
	height: 40px !important;
	min-height: 40px !important;
}

::ng-deep .header-container h2 {
	border: 0;
	padding: 0;
}
